.o_main_navbar {
    background: linear-gradient(to right bottom, #0f172a, #090979);
    border-bottom: rgb(15, 23, 0);
}

.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus{
    background: linear-gradient(to right bottom, #0f172a, #090979);
}
.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover{
    background: linear-gradient(to right bottom, #0f172a, #090979);
}
.o_main_navbar .show .dropdown-toggle{
    background: linear-gradient(to right bottom, #0f172a, #090979);
}

li.show{
    background: linear-gradient(to right bottom, #0f172a, #090979);
}

.o_home_menu_background {
    background: linear-gradient(to right bottom, #0f172a, #090979)!important;
}

.o_ChatWindowHeader{
    background: linear-gradient(to right bottom, #0f172a, #090979);
}

.o_searchview .o_searchview_facet .o_searchview_facet_label{
    background: linear-gradient(to right bottom, #0f172a, #090979);
}
.datepicker{
    background-color:white;
}
